.bed-container {
    margin: 15px;
    height: 100px;
    width: 50px;
    background-color: #e6e5e5;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 4px;
}

.pillow {
    margin-top: 6px;
    border-radius: 4px;
    height: 16%;
    width: 80%;
    background-color: #c4c1c1;
    box-shadow: -1px 6px 24px -6px rgba(0, 0, 0, 0.68);
}