.progress {
    background-color: #d8d8d8;
    border-radius: 20px;
    position: relative;
    margin: 8px 0px;
    height: 24px;
    width: 300px;
    box-shadow: var(--shadow);
}


.progress-done {
    background: var(--primary);
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease 0.3s;
}