:root {
    --bg: #FCFCFC;
    --bg-accent: #2C2C44;
    --primary: #A4ACFC;
    --danger: #FF8888;
    --disabled: #CFD1E6;
    --text-color: #888888;
    --nav-size: 60px;
    --border-radius: 8px;
    --border: 1px solid rgb(53, 53, 82);
    --speed: 500ms;
    --base-font: 'Poppins', sans-serif;
    --shadow: -1px 6px 24px -6px rgba(0, 0, 0, 0.38);
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--base-font);

}